* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  position: relative;
  font-family: 'sans-serif';
}
nav {
  position: fixed;
}
.headernav {
  box-shadow: 0 3px 3px 0 rgb(215, 213, 213);
}
.maincontent {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.dashboardoptions {
  width: 25%;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;

}
.maincontentview {
  width: 100%;

}

.dashboardoptions .customers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.accordion-body div{
        transition: transform .2s;
}
.accordion-body div:hover{
          transform: scale(1.1);
}
button {
  font-weight: 600;
  border: none;
}
.displayrow {
    padding-left:20rem ;
}
a{
   text-decoration: none;
}
img {
    width: 20rem;
}
div {
    cursor: pointer;
}
.zoom {
    transition: transform .2s;
}
.zoom:hover{
      transform: scale(1.1);
}
.loanbanks img {
  height: 6rem;
  width: 6rem;
}
.displayscreen {
  padding-left: 20rem;
}
